@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+CZ:wght@100..400&family=Playwrite+DK+Uloopet:wght@100..400&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box{
    position: relative;
    min-height: 100vh;
}

main{
    padding-bottom: 2.5rem;
}

body{
    background-color: #fff;
    height: 100vh;
    
}

html{
  font: 18px/1.5 "Karla"
}



a{
    font-family: Playwrite CZ;
}





