.page-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.prev-page,
.next-page,
.goBck {
  cursor: pointer;
  border: 1px solid black;
  padding: 0.5em 2em;
  border-radius: 10px;
  margin-bottom: 3em;
  font-weight: bold;
  background-color: whitesmoke;
}

.page-count {
  color: rgb(201, 123, 122);
  padding-top: 2em;
}

.goBck {
  cursor: pointer;
  font-weight: bold;
  padding: 0.5em 4em;
  background-color: black;
  color: white;
  border: 1px solid;
  border-radius: 15px;
  margin-left: 30em;
}

@media (max-width: 700px) {
  canvas {
    width: 100%; 
    height: auto; 
    padding: 2em;
  }
  .page-controls {
    display: flex;

    justify-content: center;
  }

  .prev-page,
  .next-page {
    width: 80px;
    padding: 10px;
  }
  .goBck {
    margin-left: 10em;
  }

  .page-count {
    padding: 0;
    
  }
}
