.profile-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-header {
  text-align: center;
  margin-bottom: 20px;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.username-h1 {
  font-size: 24px;
  margin: 0;
}

.profile-details,
.books-rented {
  margin-bottom: 20px;
}

.profile-details h2,
.books-rented h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.profile-details p {
  margin: 5px 0;
}

.rented-book {
  display: flex;
  
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.book-cover {
  width: 70px;
  height: 100px;
  margin-right: 10px;
}

.book-details h3 {
  margin: 0 0 5px;
}

.book-details p {
  margin: 5px 0;
}

.edit-profile {
  font-family: sans-serif;
  text-decoration: none;
  color: white;
  font-weight: bold;
  display: block;
  background-color: black;
  text-align: center;
  padding-top: 10px;
  width: 200px;
  height: 50px;
  border: 1px solid black;
  border-radius: 10px;
  transition: 0.3s;
}

.edit-profile:hover {
  color: white;
  background-color: #6161d5;
  border-color: transparent;
}

.rented-books-list{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 4fr));
  gap: 40px;
}

.return-btn{
  font-weight: bold;
  background-color: white;
  color: black;
  border: 1px solid black;
  padding: 0.5em 1.5em ;
  border-radius: 15px;
  transition: 0.3s;
  cursor: pointer;
}

.return-btn:hover{
  background-color: black;
  color: white;
}