.login {
  background-color: #8f85dc;
  width: 40%;
  color: #fff;
  padding: 10px;
  margin: 10px 0px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: 1s;
  border-radius: 10px;
  font-weight: bold;
}

.login-title{
    color: gray;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2em;
  gap: 1em;
}
.email,
.password {
  width: 40%;
  margin: 8px 0;
  padding: 12px 20px;
  display: flex;

  justify-content: center;
  border: 2px solid #e4c1c1;
  box-sizing: border-box;
}
.login:hover {
  
  background-color: #000;
}

.sign-up-span {
  background-color: none;
  color: #000;
}

.sign-up-span:hover {
  background-color: #e1e175;
  cursor: pointer;
  color: #000;
  border-radius: 10px;
}

.apierror {
  border: 1px solid transparent;
  border-radius: 10px;
  padding: 10px;
  width: 40%;
  background-color: rgb(233, 138, 138);
}
